/SpaceInterface/nbproject/private/
/InfoSupportLiveEJBBackend/nbproject/private/
/InfoSupportLiveWEB/nbproject/private/
/InfoSupportLiveEJBBackend/build/
/InfoSupportLiveEJBBackend/dist/
/InfoSupportLiveWEB/build/
/ServerInSpace/nbproject/private/
/ServerInSpace/ServerInSpace-ejb/nbproject/private/